# Dependencies
node_modules

# Build output
.next
out
dist

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Env
.env*
!.env.example

# Editor
.DS_Store
*.swp
*.swo
.idea
.vscode
